.filters{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 10px;
    flex-wrap: wrap;
}
.select {
    margin: 20px 8px 40px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}    .select select {
        display: flex;
        width: 100%;
        cursor: pointer;
        padding: 10px 17px;
        outline: 0;
        border: 0px dashed #000000;
        border-radius: 24px;
        background: #F2CB9B;
        color: #641400;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        font-size: 18px;
        margin: 5px
    }
        .select select::-ms-expand {
            display: none;
        }
        .select select:hover,
        .select select:focus {
            color: #fde5c8;
            background: #f2cb9b;
        }
        .select select:disabled {
            opacity: 0.4;
            pointer-events: none;
        }
.select_arrow {
    position: absolute;
    top: 10px;
    right: 15px;
    width: 6px;
    height: 6px;
    border: solid 693110;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.select select:hover ~ .select_arrow,
.select select:focus ~ .select_arrow {
    border-color: #000000;
}
.select select:disabled ~ .select_arrow {
    border-top-color: #cccccc;
}

.reset{
    background-color:#ebceaa;
    border-radius:10px;
    display:inline-block;
    cursor:pointer;
    color:#8c4820;
    font-family:Arial;
    font-size:14px;
    padding:4px 12px;
    text-decoration:none;
    border: solid #693110 1px;
    width: 68px;
}
.reset:hover {
    background-color:#8c4820;
    color: white;
}
.reset:active {
    position:relative;
    top:1px;
}