
.cardsCountries {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.card{
    background: rgba( 255, 255, 255, 0.3 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 2.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    margin: 2.5vh 1.45vw;
}
  
@media (min-width: 700px) {
    .container {
      flex-direction: row;
    }
}
  
@media (min-width: 700px) {
    .item {
      width: 50%;
    }
}
  
  