.title{
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: cursive;
  font-optical-sizing: auto;
  margin: 0;
}
.navbar{
  display: flex;
  background-color: #d68d4d82;
  align-items: center;
  justify-content: space-between;
  height: 12vh;
}

.logo{
  height: 80%;
  display: flex;
  position: relative;
  left: 12px;
}

.globo{
  display: flex;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
}

.cardsCountries {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.card{
  background: rgba( 255, 255, 255, 0.3 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 2.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  margin: 2.5vh 1.45vw;
  width: 320px;
  height: 320px;
}

.containhome{
  background-color: #f2cb9b7a;
  /* background-image: url('../images/copialogo.jpg'); */
  display: grid;
  min-height: 100vh;
}

.container_country{
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: space-around
}

.container_filters{
  min-width: 200px;
}

.button_create{
color: #fff;
background-color: #bf7b3f;
padding: 10px 30px;
border: solid #693110 1px;
box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
border-radius: 37px;
transition : 648ms;
transform: translateY(0);
display: flex;
flex-direction: row;
align-items: center;
cursor: pointer;
text-transform: uppercase;
justify-content: center;
}

.button_create:hover{
transition : 648ms;
padding: 10px 42x;
transform : translateY(-0px);
background-color: #fff;
color: #641400;
border: solid 1px #641400;
}

.button_activity{
  display: flex;
  justify-content: center;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 10px solid;
  border-color: rgba(255, 255, 255, 0.15) rgba(255, 255, 255, 0.25) rgba(255, 255, 255, 0.35) rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 

/*   
paleta de colores{
#F2CB9B
#BF7B3F
#8C4820
#693110
#641400
} */